<div class="card">
    <div class="font-semibold text-xl mb-4">使用者列表</div>
    <p-table #dt1 [value]="list" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true" [showGridlines]="true"
        [paginator]="true" [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
        responsiveLayout="scroll">
        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row">
                <button pButton label="Clear" class="p-button-plain mb-2" icon="pi pi-filter-slash"
                    (click)="clear(dt1)"></button>
                <button pButton severity="danger" label="新增" class="p-button-plain ms-1 mb-2" icon="pi pi-plus"
                    (click)="add()"></button>
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="onGlobalFilter(dt1, $event)" placeholder="Search keyword" />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        功能
                    </div>
                </th>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        帳號
                        <p-columnFilter type="text" field="code" display="menu" placeholder="課程代碼"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        姓名
                        <p-columnFilter type="text" field="name" display="menu" placeholder="課程名稱"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        信箱
                        <p-columnFilter type="text" field="description" display="menu"
                            placeholder="課程簡介"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        角色
                        <p-columnFilter type="text" field="teacherName" display="menu"
                            placeholder="教授姓名"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        狀態
                        <p-columnFilter type="text" field="schedule" display="menu" placeholder="上課時間"></p-columnFilter>
                    </div>
                </th>

                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        上次登入時間
                        <p-columnFilter type="text" field="location" display="menu" placeholder="上課地點"></p-columnFilter>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-item>
            <tr>
                <td>
                    <button pButton severity="info" label="編輯" class="p-button-outlined mb-2" icon="pi pi-pencil"
                        (click)="edit(item)"></button>
                    <button pButton severity="danger" label="刪除" class="p-button-outlined ms-1 mb-2" icon="pi pi-trash"
                        (click)="delete(item.id)"></button>

                </td>
                <td>
                    {{ item.username }}
                </td>
                <td>
                    {{ item.name }}
                </td>
                <td>
                    {{ item.email }}
                </td>
                <td>
                    {{item?.role == 'ADMIN' ? '管理員' :
                    item.role === 'teacher' ? '教師' : '學生'}}
                </td>
                <td>
                    {{ item?.status == 1 ? '啟用' : '停用'}}
                </td>
                <td>
                    {{ item.lastLoginTime }}
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="8">查無使用者</td>
            </tr>
        </ng-template>
        <ng-template #loadingbody>
            <tr>
                <td colspan="8">Loading users data. Please wait.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-user-dialog [(visible)]="showDialog" [title]="editData ? '編輯使用者' : '新增使用者'" [data]="editData"
    (save)="onSaveUser($event)" />